*.jpg
*.jpeg
*.pdf
*-checkpoint.ipynb
*.png
*.ckpt*
*.zip
*.json
*.csv
*.tar
*.tar.gz
*.rar
*.m
*.mp4
*.docx
*.h5
*.txt
*.mat
*.gif
*.log
*.xlsx
*__pycache*
*.iml
*.xml
*._*
*.DS_STORE
LearnandImplement/ComputerVisionDeepLearning/FaceDetectorwithOpenCVandDeepLearning/res10_300x300_ssd_iter_140000.caffemodel
